.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #39709a;;
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
}
